@font-face {
  font-family: 'alvania';
  src:
    url(Alvania.woff2) format('woff2'),
    url(Alvania.woff) format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'baksosapi';
  src:
    url(baksosapi.woff2) format('woff2'),
    url(baksosapi.woff) format('woff');
  font-weight: bold;
  font-style: normal;
}
