@import 'css/reset.css';
@import 'css/vars.css';

html {
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%;
}

/* stylelint-disable */

*,
*::before,
*::after {
  box-sizing: inherit;
}
/* stylelint-enable */

.hidden {
  display: none;
}

header{
  @media only screen and (max-width: 320px){
    display: grid;

    grid-template-rows: 1fr 0.5fr 1fr;
    grid-template-areas:
    'logo'
    'nav'
    'aside';
  }

  /* @media only screen and (max-width: 768px) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    ' logo '
    ' nav '
    'aside';
    margin-top: 1rem;
    align-content: center;
    margin: 0 auto;

  } */

  /* @media (--md) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    'aside logo nav';
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 94%;
    margin: 0 auto;
    border-bottom: 0.1px solid lightgray;
  } */

}

.countdown{
  font-family: 'alvania', Arial, Helvetica, sans-serif;
  color: #F9C553;

}
/*
.aside-ster{
  position: absolute;
  z-index: 3;
  margin-left: -7rem;
  margin-top: -1rem;
} */

/* aside:after{
  content: " ";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: #f2f0ed;
    transform-origin: top left;
    -ms-transform: skew(10deg, 0deg);
    -webkit-transform: skew(10deg, 0deg);
    transform: skew(10deg, 0deg);

} */

/* aside {
  line-height: 1.3rem;
  position: relative;
  width: 18rem;
  grid-area: aside;
  padding-left: 5rem;
  margin: 0 auto;
  display: flex;
  align-items: center;

} */

.foto-home {
  width: 230px;
  height: 300px;
  object-fit: cover;
  z-index: 1;
}

.foto-programma{
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.act:nth-child(odd) {
  margin-top: -3rem;
}

.button {
  background-image: url(assets/img/button.svg);
  background-repeat: no-repeat;
  padding: 0.6rem;
  outline: none;
  text-decoration: none;
  /* background-color: #ABD0C7; */
  color: white;
}

.familiedag-text{
  margin-bottom:2rem;
}

.logo-home{

  grid-area: logo;

}


h2 {
  font-family: 'alvania', Arial, Helvetica, sans-serif;
  color: #613c6b;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* header {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
} */

a {
  color: black;
}

a:hover {
  color: #613c6b;
}

ul {
  display: flex;
  flex-direction: row;
  width: 20rem;
  justify-content: space-between;

}

main {
  display: grid;
  grid-template-columns: 1.6fr 1.2fr 1.5fr;
  grid-template-rows: 1fr 1fr 0.5fr;
  grid-gap: 3rem;
  margin: 3rem;
  width: 100vw;

  grid-template-areas:
    'voorstellingen familiedag quote'
    'voorstellingen kaart kaart'
    'praktisch kaart kaart';
}

nav {
  /* display: grid; */
  grid-area: nav;

  /* @media only screen and (max-width: 320px) {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;

    align-self:stretch;

  } */
}

.act-home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: end;
  grid-gap: 2rem;
}

.act-titel {
  background-color: #613c6b;
  z-index: 2;
  position: absolute;
  color: white;
}

.voorstellingen {
  grid-area: voorstellingen;
  padding-right: 3rem;
  border-right: 0.1px solid lightgray;
}

.voorstellingen-titel {
  display: flex;
  justify-content: flex-end;
  font-size: 1.2rem;
  margin-bottom: 1.8rem;
}

.kaart {
  grid-area: kaart;
  border-top: 0.1px solid lightgray;
  padding: 2rem;

}

.kaart-img {
  width: 40rem;
}

.act {
  display: flex;
  flex-direction: column;
}

.familiedag {
  grid-area: familiedag;
  padding-right: 4rem;
  border-right: 0.1px solid lightgray;

}

.quote {
  grid-area: quote;
  margin: 0 auto;
}

.info {
  display: flex;
  flex-direction: column;

}


footer {
  height: 15rem;
  margin: 0 auto;
  background-color: #F2F0ED;
}

.footer-text{
  width: 80%;
  height: 15rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.contact {
  display: flex;
  flex-direction: column;
}

blockquote {
  font-family: 'baksosapi', Arial, Helvetica, sans-serif;
  color: #D2513A;
  font-size: 1rem;
}

.programma {
  @media only screen and (max-width: 320px){
    display: grid;
    jusify-content:center;
    grid-auto-rows: auto;
    grid-row-gap: 2rem;

  }

  /* display: grid;
  grid-template-columns: 30% 30% 30%;
  justify-content: center;
  height: 1000px; */

}



.foto {
margin: 0 auto;
width: 250px;
  height: 250px;
  object-fit: cover;
}

.logo-footer {
  content:"";
  position:absolute;
  background-image: url(assets/img/kalender.svg);
  background-repeat: no-repeat;
  width: 7rem;
  height: 7rem;
  margin-right: 4rem;
}
